* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container { 
    max-width: 1400px;
    padding: 0 50px;
    margin: auto auto;
   }

.container .header .heading {
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ff4e4e;
    letter-spacing: 1px;
}

.container .header small {
    color: rgb(26, 255, 0);
    padding: 0px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.container .header h2 {
    padding: 02px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

.container .header h3 {
    padding: 0 0 0 10px;
    font-family: 'Roboto', sans-serif;
}

.container .header p {
    padding: 02px 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    text-align: justify;
}

.container .header .note {
    color: crimson;
    font-style: italic;
}

.service .container .demo-Heading {
    color: crimson;
    margin: 30px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.service .container .demo-Nameplate {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card {
    width: calc(33% - 30px);
    background-color: red;
    color: #fff;
    padding:10px 10px;
    font-family:'Roboto', sans-serif;
    font-weight:600;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

.service .container .demo-Nameplate .demo-Nameplate-Card .box {
    border: 5px solid white;
    padding: 10px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card .box .name {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card .box .course-Detail {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;

}

.service .container .demo-Nameplate .demo-Nameplate-Card.internShip {
    background-color: black;
}

.service .serv-content {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.service .serv-content .card {
    width: calc(33% - 30px);
    background-color: rgb(228, 194, 228);
    color: #fff;
    padding:30px 20px;
    font-family:'Roboto', sans-serif;
    font-weight:600;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 40px;
    border: 5px solid black;
    border-radius: 7px;
    position: relative;
}

.service .serv-content .card .box {
    padding: 0 5px;
    text-align: center;
}

.service .serv-content .card .box p {
    letter-spacing: 1px;
    line-height : 30px

}

.service .serv-content .card .box .roll {
    font-size: 30px;
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color:sienna;
}

.service .serv-content .card .box .name {
    color:teal;
    font-size:  26px;
    margin-bottom: 10px;
}

.service .serv-content .card .box small {
    color:slateblue;
    font-size: 20px;
}

.service .serv-content .card .box small span.red {
    color: red;
}

.service .serv-content .card .box small span.black {
    color: black;
}

.footer {
    padding: 20px 0;
    background-color: #ff4e4e;
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #111;
  }
  
  .footer a {
    color: rgb(30, 0, 255, 1);
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .far .fa-copyright::before {
    content: "" \f1f9"";
  }




/* responsive */
@media (max-width: 947px) {
.service .serv-content {
    justify-content: center;
    margin-top: 30px;
}

.service .serv-content .card:nth-child(odd) {
    margin-right: 10px;
}

.service .serv-content .card {
    width: calc(50% - 10px);
    padding: 50px 30px;
    margin-bottom: 10px;
}


.service .container .demo-Nameplate .demo-Nameplate-Card {
    width: calc(50% - 30px);
}
}

@media (max-width: 786px) {
.service .container .demo-Nameplate .demo-Nameplate-Card {
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px){
.container {
    padding: 0;
}

.service .serv-content .card:nth-child(odd) {
    margin-right: 0px;
}

.service .serv-content .card {
    width: calc(100% - 10px);
    padding: 45px 15px;
    margin-bottom: 10px;
}

.service .container .demo-Nameplate .demo-Nameplate-Card {
    width: 380px
}

.footer {
    font-size: 16px;
}
}